# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend-AI/node_modules
frontend-AI/.pnp
frontend-AI/.pnp.js


# testing
frontend-AI/coverage

# next.js
frontend-AI/.next

frontend-AI/out

# production
frontend-AI/build

# misc
frontend-AI/public/static.DS_Store
*.pem
Thumbs.db

# debug
frontend-AI/npm-debug.log*
frontend-AI/yarn-debug.log*
frontend-AI/yarn-error.log*

# dotenv local files
frontend-AI/.env*.local

# local folder
frontend-AI/local

# vercel
frontend-AI/.vercel

backend-AI/.env 
backend-AI/venv